.nav-container {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;

  a {
    font-size: 25px;
    text-decoration: none;
    color: white;

    @media screen and (max-width: 570px) {
      font-size: 15px;
    }
  }
  a.active {
    text-decoration: underline;
    font-weight: bold;
  }
}

.nav-link {
  display: flex;
  justify-content: space-between;

  a {
    margin-right: 300px;
  }
}

.nav-link a:last-child {
  margin-right: 20px;
}
